body {
    box-sizing: border-box;
}


.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

li a {
    text-decoration: none;
}

.banner {
    display: flex;
    align-items: flex-start;
    
}

.description {
    width: 40%;
    padding: 3rem;
    border: solid red;
}

.container_image {
    text-align: center;
    width: 50%;
    text-align: left;
    border: solid yellow;
}

.my_photo {
    border: solid black;
    width: 50%;
    
}