
.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2%;
}

.card-movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(19, 19, 19);
    color: white;
    max-width: 20%;
    width: 100%;
}

.poster {
    height: 60%;
}

.btn-details {
    cursor: pointer;
}

.card-movie .title {
    font-size: 26px;
    font-weight: 600;
}

.card-movie .ano {
    font-size: 18px;
    font-style: italic;
}

.btn-details {
    font-size: 16px;
    background-color: #ffb039;
    color: #ffff;
    padding: 5%;
    border: none;
}
