* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.main {
  display: flex;
  justify-content: center;
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.card-image {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card-image:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid black;
}

.legend {
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;

}

@media (max-width: 900px) {
  .galeria-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .galeria-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .galeria-container {
    grid-template-columns: 1fr;
  }
}
